extends layout

block content
  h2 Apartment Details
  h4#rooms Rooms: #{apartment.rooms}
  h4 Rent Per Room: $#{apartment.rentPerRoom}
  h4 Square Feet: #{apartment.squareFeet} ft
    sup 2
  .row
    img(src="#{apartment.imageURL}").col-xs-8.col-xs-offset-2
  
  .row
    h1 #{apartment.tenants}
    #homelessContainer
      .form-group.col-xs-7.col-xs-offset-2
        select#homeless.form-control
          each bum in homeless
            option(data-mongo = bum.id)
              = bum.name.first + " " + bum.name.last
      button#addTenant.btn.btn-default.col-xs-1 Add Tenant
            
    #tenantswrapper
      table#tenants.table
        tr
          th.col-xs-3(style="text-align: center") Tenant
          th.col-xs-3(style="text-align: center") Age
          th.col-xs-3(style="text-align: center") Gender
          th.col-xs-3(style="text-align: center")
        each person in tenants
          tr
            td= person.name.first + " " + person.name.last
            td= person.age
            td
              = person.gender.slice(0, 1).toUpperCase() + person.gender.slice(1) 
            td
              button(data-mongo = person.id).removeTenant.btn.btn-default Remove Tenant
block scripts
  script(src="/javascripts/apartmentDetails.js")
