extends layout

block content
  h1 Apartment Details
  h2#rooms Rooms: #{apartment.rooms}
  h2 Rent Per Room: $#{apartment.rentPerRoom}
  h2 Square Feet: #{apartment.squareFeet} ft
    sup 2
  img(src="#{apartment.imageURL}")
  

  h1 #{apartment.tenants}
  div#homelessContainer
    button#addTenant Add Tenant
    select#homeless
      each bum in homeless
        option(data-mongo = bum.id)
          = bum.name.first + " " + bum.name.last
          
  div#tenantswrapper.container
    table#tenants.table
      each person in tenants
        tr
          td= person.name.first + " " + person.name.last
          td= person.age
          td= person.gender 
          td
            button(data-mongo = person.id) Remove Tenant
block scripts
  script(src="/javascripts/apartmentDetails.js")
