extends layout

block content
  h1= title
  h3 Total Rent: #{totalRent}
  h3 Total Apartments: #{apartments.length}
  ul#apartments
    each place in apartments
      li.col-xs-4
        a(href="/apartments/#{place.id}")
          img(src="#{place.imageURL}")
          p Rooms: #{place.rooms}
          p Rent Per Room: $#{place.rentPerRoom}.00
          p Rentable Area: #{place.rentPerRoom} ft
            sup 2


