extends layout

block content
  h3 Total Rent: $#{totalRent}.00
  h3 Total Properties: #{apartments.length}
  ul#apartments
    each place in apartments
      li.col-xs-4.propertyListing
        a(href="/apartments/#{place.id}")
          img(src="#{place.imageURL}")
          p Rooms: #{place.rooms}
          p Rent Per Room: $#{place.rentPerRoom}.00
          p Rentable Area: #{place.rentPerRoom} ft
            sup 2


